torch
torchvision
numpy
diffusers
albumentations
opencv-python
pudb
imageio
imageio-ffmpeg
omegaconf
test-tube
einops
torch-fidelity
torchmetrics
transformers
webdataset
open-clip-torch
invisible-watermark
accelerate
xformers
peft
torch-ema
moviepy
tensorboard
Jinja2
ftfy
datasets
wandb
pytorch-fid
notebook
matplotlib
kornia
git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
git+https://github.com/openai/CLIP.git@main#egg=clip
git+https://github.com/Stability-AI/stablediffusion.git@main#egg=stable-diffusion
